@page "/navigation"
@page "/navigation/link-2"
@page "/navigation/link-3"
@page "/navigation/link-3/child-1"
@page "/navigation/link-3/child-2"

<div class="w-25">
<NavLink class="page-link" href="navigation" ActiveClass="active-link" Match="NavLinkMatch.All">Link 1</NavLink>
<NavLink class="page-link" href="navigation/link-2" ActiveClass="active-link" Match="NavLinkMatch.All">Link 2</NavLink>
<NavLink class="page-link" href="navigation/link-3" ActiveClass="active-link" Match="NavLinkMatch.Prefix">Link 3</NavLink>
<NavLink class="page-link" href="navigation/link-3/child-1" ActiveClass="active-link" Match="NavLinkMatch.All">Link 3.1</NavLink>
<NavLink class="page-link" href="navigation/link-3/child-2" ActiveClass="active-link" Match="NavLinkMatch.All">Link 3.2</NavLink>
</div>